body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
}
.main-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-list-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
.page-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  padding-top: 25.5px;
  margin-right: 76px;
}
.page-logo-span {
  color: #2e2f42;
}
.header-page-link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.header-page-link:hover,
.header-page-link:focus {
  color: #404bbf;
}
.header-address {
  font-style: normal;
}
.header-contact-link {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.header-contact-link:hover,
.header-contact-link:focus,
.header-contact-linkl:active {
  color: #404bbf;
}
.page-logo-span {
  margin-right: 76px;
}
.main-page-header {
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.main-btn {
  background-color: #4d5ae5;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
}
.main-btn:hover,
.main-btn:focus {
  background-color: #404bbf;
}
.main-section-btn {
  background-color: #2e2f42;
}
.main-btn-container {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  align-items: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-desc-header {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
  padding-top: 32px;
}
.text-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding-bottom: 32px;
}
.main-sec-header {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.main-desc-list-container {
  display: flex;
  gap: 48px 24px;
}
.main-sec-team {
  background-color: #f4f4fd;
}
.team-list-item {
  background-color: #ffffff;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}
.main-sec-container{
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
  flex-basis: calc((100% - 3 * 24) / 4);
}
.main-portfoliao-content{
  padding: 0 16px;
  border: 1px solid #E7E9FC;
  border-top: none;
}
.footer {
  background-color: #2e2f42;
}
.footer .page-logo-span {
  color: #f4f4fd;
}
.footer .text-content {
  color: #f4f4fd;
}
.footer {
  padding-top: 101.5px;
}
.footer .text-content{
  margin-top: 17.5px;
  padding-bottom: 100px ;
}