body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
.page-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.page-logo-span {
  color: #2e2f42;
}
.header-page-link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.header-page-link:hover,
.header-page-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}
.header-contact-link {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.header-contact-link:hover,
.header-contact-link:focus,
.header-contact-linkl:active {
  color: #404bbf;
}
.main-page-header {
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.main-btn {
  background-color: #4d5ae5;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
}
.main-btn:hover,
.main-btn:focus {
  background-color: #404bbf;
}
.main-section-btn {
  background-color: #2e2f42;
}

.main-desc-header {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.text-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.main-sec-header {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.main-sec-team {
  background-color: #f4f4fd;
}
.team-list-item {
  background-color: #ffffff;
}
.footer {
  background-color: #2e2f42;
}
.footer .page-logo-span {
  color: #f4f4fd;
}
.footer .text-content {
  color: #f4f4fd;
}
